<%-include('partials/header.ejs') %>
<h1 id="header">Search</h1>
<div class="input-home">
    <form action="/search" method="get">
        <input type="text" id="country-field" placeholder="Enter a name of the country" name="country">
        <div class="btn">
        <input type="submit" value="Search" id="submit-btn">
        </div>
    </form>
</div>

<%-include('partials/footer.ejs') %>
