body{
    padding: 10px;
    background-color: rgb(245, 245, 245);
}
#header{
    font-size: 3rem;
    height: 20vh;
    margin-bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(199, 0, 57);
}
.input-home{
    width: 50%;
    margin: auto;
}
#country-field{
    padding: 3px;
    height: 15px;
    width: 100%;
    min-width: 50%;
    border-radius: 5px;
    border: solid 2px rgb(20, 30, 70);
}
#submit-btn{
    background-color: rgb(199, 0, 57);
    color: white;
    padding: 5px 15px;
    font-size: 1.1rem;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 1.7rem;
}
.city_name{
    color: rgb(199, 0, 57);
    display: flex;
    justify-content: center;
    font-size: 2.9rem;
    margin-bottom: 1%;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;

}
img{
    width: 80px;
    height: 80px;
    margin-top: 1%;
}
.data-text{
    color: rgb(199, 0, 57);
    font-size: 3rem;
}
.data > form{
    margin-top: 1.5%;
}


