body{
    padding: 10px;
    margin-top: 9%;
    background-color: rgb(39, 40, 41);
}
.contanier-data{
    background-color: rgb(97, 103, 122);
    margin-left: 28%;
    margin-right: 28%;
    height: 50vh;
    border-radius: 10px;
}
.no-input{
    font-size: 1.5rem;
    color: black;
}
.name{
    color: rgb(255, 246, 224);
    font-size: 1.3rem;
}
.inner{
    display: flex;
    justify-content: space-evenly;
}
.inner-img{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.inner-temp{
    display: flex;
    justify-content: center;
}
.contanier-search{
    display: flex;
    flex-direction: column;
    margin-top: 1.1rem;
    align-items: center;
}
#input-country{
    width: 40%;
    margin-bottom: 1.1rem;
    border-radius: 5px;
    border-style: solid;
    height: 1.5rem;
}

#search-btn{
    height: 2.1rem;
}